body{
    padding: 100px;
}
.bank-title{
text-align: center;
}
.submit-area{
    margin-top:10px;
    margin-left:20%;
}
#transaction-area{

display: none;
}
#currentDeposit{
    margin-left:5px;
    
}

#currentBalance{
    margin-left:5px;
}
#currentWithdraw{
    margin-left:5px;

}
.text{
    color: white;
}
.bg-ligh{
    background: white;
}
.margin {
    margin-right:20px;
    margin-left:10px;
}
.b{
    color: tomato;
}
.fatih{
   height:170px;
    width:300px;
background-color:white;
margin-left:80%;

}
.img{
    height:100%;
    width:100%;
}